In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv("http://bit.ly/gradescsv")

In [10]:
df["加權"] = df.國文 * 0.25 + df.英文 * 0.25 + df.數學 * 0.25 + df.自然 * 0.15 + df.社會 * 0.10

In [11]:
df1 = df[:10]

In [12]:
df1

    姓名  國文  英文  數學  自然  社會     加權
0  劉俊安   9  10  15  10  13  11.30
1  胡玉華  10  10  10   8   9   9.60
2  黃淑婷  13  15   8  11  14  12.05
3  陳上紫  10  10   8   9  14   9.75
4  崔靜成  13  12  14  12  13  12.85
5  張雅岳  13  12  12  12   8  11.85
6  梁俊翔  11  13  10  10  14  11.40
7  林金鳳   8   9  10  10   8   9.05
8  許協旺   9   9  12  10  10  10.00
9  郭雅惠  10  15  12  11   9  11.80

In [13]:
df2 = df[10:20]

In [14]:
df2

     姓名  國文  英文  數學  自然  社會     加權
10  張志偉  14   9   8  10  12  10.45
11  周皇樺  13   9  13  14  15  12.35
12  李正偉  11  15  11  14  15  12.85
13  黃旭忠  15  14   9  12  10  12.30
14  葉雅琳   8  13  10  13  14  11.10
15  黃淑慧  11   8  10  12  15  10.55
16  吳芝菁  14   9  11  10   9  10.90
17  聶珮君  12  11  13  12   9  11.70
18  梁慧君   9   8   8   8  12   8.65
19  葉曉玲  14   9  11  15   9  11.65

In [15]:
df3 = df[20:30]

In [16]:
df3

     姓名  國文  英文  數學  自然  社會     加權
20  陳智超  13   9  13  14  13  12.15
21  黃奕霞   9   8  11  13   8   9.75
22  沈昆純  12  14  10   9   9  11.25
23  許惠雯  10  13  12  14  10  11.85
24  陳竹伯  10  12  15  10  14  12.15
25  蔡亦瑄  13  13  14  13  12  13.15
26  戴喜寶  13  11   9  14   9  11.25
27  馮白屏   8  13  14   8  10  10.95
28  王金鳳  15  14   8  12   8  11.85
29  闕進綠  14  11  13   8  11  11.80

In [17]:
df3

     姓名  國文  英文  數學  自然  社會     加權
20  陳智超  13   9  13  14  13  12.15
21  黃奕霞   9   8  11  13   8   9.75
22  沈昆純  12  14  10   9   9  11.25
23  許惠雯  10  13  12  14  10  11.85
24  陳竹伯  10  12  15  10  14  12.15
25  蔡亦瑄  13  13  14  13  12  13.15
26  戴喜寶  13  11   9  14   9  11.25
27  馮白屏   8  13  14   8  10  10.95
28  王金鳳  15  14   8  12   8  11.85
29  闕進綠  14  11  13   8  11  11.80

In [18]:
df1["加權"].mean()

10.965

In [19]:
df2["加權"].mean()

11.250000000000004

In [20]:
df3["加權"].mean()

11.614999999999998